<div id=<%="js-favorite-#{rice.id}"%>>
  <% if rice.favorite_by?(current_user) %>
    <%= link_to rice_favorites_path(rice), method: :delete, remote: true do %>
      <i class="fa-solid fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to rice_favorites_path(rice), method: :post, remote:true do %>
      <i class="fa-regular fa-heart"></i>
    <% end %>
  <% end %>
</div>
