<% content_for(:title, "top") %>
<div class=" container border-solid border-4 border-light-blue-500 ..." >
  <h3 class="text-center text-2xl my-2" > 色々なお米の特徴を知り、食べてみませんか？</h3>

  <div class="border flex flex-col">
    <%= link_to "全国のお米を探しに行く", rice_map_path,
      class: 'shadow w-1/4 text-center mx-auto my-20 bg-yellow-500 hover:bg-yellow-300 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-8 rounded-full ' %>
    <br>
    <%= link_to "ユーザー登録", new_users_path,
      class: 'shadow w-1/4 text-center mx-auto my-20 bg-yellow-500 hover:bg-yellow-300 focus:shadow-outline focus:outline-none text-white font-bold py-4 px-8 rounded-full' unless current_user %>
  </div>
</div>
