<% flash.each do |message_type, message| %>
  <% if message_type == "success" %>
    <div class="bg-green-100 border border-red-400 text-green-700 px-4 py-3 rounded relative"><%= message %></div>
  <% elsif message_type == "danger" %>
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"><%= message %></div>
  <% end%>

<% end %>
