<div class="w-full h-20 bg-green-500 flex justify-between items-center">
    <%= link_to "利用規約", "#",class: "m-8" %>
    <%= link_to "お問い合わせ", "#",class: "m-8" %>
    <%= link_to "プライバシーポリシー", "#",class: "m-8" %>
</div>
