<div class="flex justify-between items-center bg-green-500 p-2 md:h-20">
  <%= link_to "利用規約", "https://kiyac.app/termsOfService/yyo84ujfQCMdrMltUV5W", class: "m-2 md:m-8" %>
  <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSeElzAVmGa27FJ78PfvElxCtH9uLQaLZGVXDMM7G8t1186ksw/viewform", class: "m-2 md:m-8" %>
  <%= link_to "プライバシーポリシー", "https://kiyac.app/privacypolicy/EYUjS9nwOPikv9M6xCGt", class: "m-2 md:m-8" %>
</div>
