<div class="w-full h-20 bg-green-500 flex justify-between items-center">
    <%= link_to "利用規約", "#",class: "m-8" %>
    <%= link_to "お問い合わせ", "https://docs.google.com/forms/d/e/1FAIpQLSeElzAVmGa27FJ78PfvElxCtH9uLQaLZGVXDMM7G8t1186ksw/viewform",class: "m-8" %>
    <%= link_to "プライバシーポリシー", "#",class: "m-8" %>
</div>
